{% include 'data_service/modals/modal-add-row.html' %}
{% include 'data_service/modals/modal-edit-row.html' %}
{% include 'data_service/modals/modal-remove-predicate.html' %}
{% include 'data_service/modals/modal-add-column.html' %}
{% include 'data_service/modals/modal-delete-column.html' %}
{% include 'data_service/modals/modal-update-column.html' %}
{% include 'data_service/modals/modal-rename-column.html' %}
{% include 'data_service/modals/modal-normalize.html' %}
{% include 'data_service/modals/modal-discretize.html' %}
{% include 'data_service/modals/modal-outlier.html' %}
{% include 'data_service/modals/modal-date-time.html' %}
{% include 'data_service/modals/modal-missing-data.html' %}
{% include 'data_service/modals/modal-stats.html' %}
{% include 'data_service/modals/modal-raw-data.html' %}
{% include 'data_service/modals/modal-export.html' %}
{% include 'data_service/modals/modal-find-and-replace.html' %}
{% include 'data_service/modals/modal-one-hot-encode.html' %}
{% include 'data_service/modals/modal-remove-identical-rows-alg.html' %}
{% include 'data_service/modals/modal-active-users.html' %}
{% include 'data_service/modals/modal-backups.html' %}
{% include 'data_service/modals/modal-restore-backups.html' %}
{% include 'data_service/modals/modal-classify-naive-bayes.html' %}
{% include 'data_service/modals/modal-classify-knn.html' %}
{% include 'data_service/modals/modal-classify-dt.html' %}
{% include 'data_service/modals/modal-classify-ann.html' %}
{% include 'data_service/modals/modal-regression-linear.html' %}
{% include 'data_service/modals/modal-regression-elastic.html' %}
{% include 'data_service/modals/modal-regression-lasso.html' %}
{% include 'data_service/modals/modal-regression-svr.html' %}
 
