.fas .fa-chart-bar {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	border-bottom: 0;
	line-height: 1.428571429;
	color: rgb(248, 142, 2);
	background-color: #eb0808;
	box-sizing: border-box;
	text-align: right !important;
}